# Installing Anaconda on your machine

https://docs.anaconda.com/anaconda/install/mac-os/
https://docs.anaconda.com/anaconda/install/windows/

# Datatypes

This is a variable, just like in algebra, a variable can be used to store values. However, when coding, it is not just limited to numbers

### Ints (Integers)

In [1]:
x = 3
y = 7
z = 6

### Floats

In [2]:
a = 1.3
b = 4.9
c = 9.2

### Strings

In [80]:
cat = "cat goes meow"
dog = "dog goes woof"

### Booleans

In [83]:
type(cat) == str

True

### Create a variable hi which when printed says "hello world" and print that variable

### Solution

In [4]:
hi = ("hello world")
print(hi)

hello world

# Operators

Addition (+)

In [5]:
10 + 5
print(10 + 5)

a + b
print(a + b)

15
6.2

Subtraction (-)

In [6]:
9 - 4
print(9 - 4)

z - y
print(z - y)

5
-1

Multiplication

In [7]:
x * y

21

Division (/)

In [8]:
14/2

7.0

Modulus (%) --gives you the remainder

In [9]:
9%2

1

Exponents (**)

In [10]:
2**3

8

### Find the area of a triangle with height 130 and a base of 50

### Solution

In [11]:
0.5 * 130 * 150
(1/2) * 130 * 150

9750.0

# Lists

Let's say that we have a room full of people

john = "John"
david = "David"
karen = "Karen"
...

Lists are used to store multiple items in a single variable

In [12]:
room_121 = ["John", "David", "Karen"]

In [13]:
type(room_121)

list

### The dir function

the dir function returns attributes and methods of any object

In [14]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [15]:
help(list.copy)

Help on method_descriptor:

copy(self, /)
    Return a shallow copy of the list.

### Get the Max Number

In [16]:
student_grades = [9.1, 8.8, 7.5, 3.5, 8,5, 9,2]
max_value = max(student_grades)
print(max_value)

9.1

### Get Min Number

In [17]:
min_value = min(student_grades)
print(min_value)

2

### Sum of all numbers

In [18]:
sum(student_grades)

52.9

### Length of list

In [19]:
len(student_grades)

8

### Print the length of this list

In [20]:
print(len(student_grades))

8

### How many 10's are in this list?

In [21]:
student_grades = [9.1, 8.8, 10.0, 7.7, 6.8, 8.0, 10.0, 8.1, 10.0, 9.9]
print(student_grades.count(10.0))

3

### Not limited to one datatype

In [22]:
my_list = ['apples', 2, True, 4.5]
type(my_list)

list

## Indexing Lists

In [23]:
fruit = ['bannana', 'apple', 'orange', 'peach', 'watermelon', 
        'dragonfruit', 'mangos', 'papyas', 'kiwi']

You can access items in a list by refering to the index number.

There are two types of indexing: positive indexing and negative indexing

### Positive Indexing

NOTE: WHEN USING POSITIVE INDEXING, THE FIRST ITEM IN THE LIST IS 0.

In [24]:
fruit[0]

'bannana'

In [25]:
fruit[3]

'peach'

### Negative Indexing

In [26]:
fruit[-1]

'kiwi'

In [27]:
fruit[-3]

'mangos'

### Range

In [28]:
fruit[:3]

['bannana', 'apple', 'orange']

In [29]:
fruit[3:]

['peach', 'watermelon', 'dragonfruit', 'mangos', 'papyas', 'kiwi']

In [30]:
fruit[-5:-1]

['watermelon', 'dragonfruit', 'mangos', 'papyas']

In [31]:
fruit[-4:]

['dragonfruit', 'mangos', 'papyas', 'kiwi']

### Insert

Give what you want to append and

In [32]:
fruit.insert(3, 'pineapple')

In [33]:
fruit

['bannana',
 'apple',
 'orange',
 'pineapple',
 'peach',
 'watermelon',
 'dragonfruit',
 'mangos',
 'papyas',
 'kiwi']

### Append

In [34]:
fruit.append('blueberries')

In [35]:
fruit

['bannana',
 'apple',
 'orange',
 'pineapple',
 'peach',
 'watermelon',
 'dragonfruit',
 'mangos',
 'papyas',
 'kiwi',
 'blueberries']

### Extend list

In [36]:
berries = ['rasberry', 'strawberry']

In [37]:
fruit.extend(berries)
berries

['rasberry', 'strawberry']

### Remove Elements

In [38]:
fruit.remove('dragonfruit')
fruit

['bannana',
 'apple',
 'orange',
 'pineapple',
 'peach',
 'watermelon',
 'mangos',
 'papyas',
 'kiwi',
 'blueberries',
 'rasberry',
 'strawberry']

In [39]:
fruit.sort()
fruit

['apple',
 'bannana',
 'blueberries',
 'kiwi',
 'mangos',
 'orange',
 'papyas',
 'peach',
 'pineapple',
 'rasberry',
 'strawberry',
 'watermelon']

In [40]:
fruit.sort(reverse=True)
fruit

['watermelon',
 'strawberry',
 'rasberry',
 'pineapple',
 'peach',
 'papyas',
 'orange',
 'mangos',
 'kiwi',
 'blueberries',
 'bannana',
 'apple']

## What to take away

-Don't need to remember every single function for the list, learn how to use the internet to help you

-Lists are denoted with square braquets [ ]

-Store multiple values

### Excersizes

Remove the item which does not belong

In [41]:
sports = ['soccer', 'basketball', 'baseball', 'hockey', 'ball',
         'boxing']

In [42]:
trees = ['oak', 'maple syrup','white pine', 'maple', 'birch', 
         'weeping willow']

In [48]:
grades = [99, 59, 24, 92, 12, 93, 59, 85,76]

- Print the second to last item on each list

- Print the third item on each list

- Find the mean of the "students_grades" list

- Add another sport to the "sports" list

- Add another tree to the "trees" list

### Solutions

In [45]:
#Print the second to last item on each list

sports[-2]
print(sports[-2])

trees[-2]
print(trees[-2])

ball
birch

In [46]:
#Print the third item on each list
sports[2]
print(sports[2])

trees[2]
print(trees[2])

baseball
white pine

In [49]:
#Find the mean of the "students_grades" list
sum(grades) / len(grades)

66.55555555555556

In [55]:
#Add another sport to the "sports" list
sports.append('gymnastics')

sports.insert(2, 'swimming')

['soccer',
 'basketball',
 'swimming',
 'swimming',
 'gymnastics',
 'baseball',
 'hockey',
 'ball',
 'boxing',
 'gymnastics',
 'gymnastics',
 'gymnastics',
 'gymnastics',
 'gymnastics',
 'gymnastics']

In [57]:
#Add another tree to the "trees" list
trees.append('dragon tree')

trees.insert(4, 'coconut')

# Tuples

- unlike lists, a tuple is unchangable
- represented by ( )
- allow duplicates
- have many similar functions to lists, but cannot modify the tuple itself

https://www.w3schools.com/python/python_tuples_access.asp

In [58]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [59]:
len(thistuple)

7

In [60]:
tuple_grades = (99, 59, 24, 92, 12, 93, 59, 85,76)

In [62]:
sum(tuple_grades) #/ len(tuple_grades)

66.55555555555556

# Dictionaries

- Used to store data values in pairs.
- They can be changed (like lists)
- Can be nested (can have a list or tuple inside of a dictionary)
- Can be accessed through their keys

In [71]:
my_dictionary = {"Micheal": (60, 90, 98), "Jim": 99, "Pam": 79, "Dwight": [45, 67, 89]}
my_dictionary

{'Micheal': (60, 90, 98), 'Jim': 99, 'Pam': 79, 'Dwight': [45, 67, 89]}

In [72]:
type(my_dictionary)

dict

In [66]:
dir(my_dictionary)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [69]:
len(my_dictionary)

4

- Defined by curly brackets { }
- Key: Value

### Access value through a key

In [74]:
my_dictionary['Dwight']

[45, 67, 89]

In [75]:
my_dictionary['Pam']

79

### Add more values to a dictionary

In [85]:
my_dictionary['Ryan'] = 33
my_dictionary

{'Micheal': (60, 90, 98),
 'Jim': 99,
 'Pam': 79,
 'Dwight': [45, 67, 89],
 'Ryan': 33}

### Get the keys and values

In [88]:
my_dictionary.keys()

dict_keys(['Micheal', 'Jim', 'Pam', 'Dwight', 'Ryan'])

In [90]:
my_dictionary.values()

dict_values([(60, 90, 98), 99, 79, [45, 67, 89], 33])

### Delete Values in My Dictionary

In [94]:
del my_dictionary['Ryan']
my_dictionary

KeyError: 'Ryan'

### Excersize

Create a dictionary with a city and a corresponding sports team name calles "sports teams"
- Print the keys
- Print the values

# Sets

- Denoted by a curly bracket
- NOT A DICTIONARY
- Unordered and unindexed
- Do not allow for duplicate values

In [97]:
my_set = {'cake', 'cupcakes', 'icecream', 'cookies'}

### Add items

In [100]:
my_set.add('milkshake')
my_set

{'cake', 'cookies', 'cupcakes', 'icecream', 'milkshake'}

### Combine two sets

In [101]:
other_set = {'fruit salad', 'bannana bread'}

In [102]:
my_set.update(other_set)
print(my_set)

{'icecream', 'cupcakes', 'milkshake', 'fruit salad', 'bannana bread', 'cookies', 'cake'}